/*********************************************************************/
/***** BEGIN DESIGN TOOLS CORE THEME IMPORT **************************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://files.ciditools.com/cuboulder/theme_colors.css);
/*********************************************************************/
/***** END DESIGN TOOLS CORE THEME IMPORT ****************************/
/*********************************************************************/
html{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;	
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	font-weight:bold;
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}