:root {
        --ic-brand-primary-darkened-5: #525658;
--ic-brand-primary-darkened-10: #4E5153;
--ic-brand-primary-darkened-15: #4A4D4F;
--ic-brand-primary-lightened-5: #5E6264;
--ic-brand-primary-lightened-10: #666A6C;
--ic-brand-primary-lightened-15: #6F7274;
--ic-brand-button--primary-bgd-darkened-5: #006DB3;
--ic-brand-button--primary-bgd-darkened-15: #0061A0;
--ic-brand-button--secondary-bgd-darkened-5: #525658;
--ic-brand-button--secondary-bgd-darkened-15: #4A4D4F;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-30: #7C7C7C;
--ic-link-color-darkened-10: #0067AA;
--ic-link-color-lightened-10: #1980C2;
--ic-brand-primary: #565a5c;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #0072bc;
--ic-brand-button--primary-bgd: #0072bc;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #565a5c;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #444444;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #444444;
--ic-brand-global-nav-menu-item__text-color: #cfb87c;
--ic-brand-global-nav-menu-item__text-color--active: #444444;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #444444;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/507179/cu_stack.svg');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3661/cu_favicon.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3662/cu_mobile.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3663/cu_tile.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3664/cu_tile_wide.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #333333;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/152/boulder.jpeg');
--ic-brand-Login-body-bgd-shadow-color: #333333;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: #333333;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }